{% extends 'base.html' %}
{% load static %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/flexslider/flexslider.css' %}">
{% endblock extrastyles %}

{% block content %}

    <div class="super_overlay"></div>

    	<!-- Home -->

		<div class="home">
			<div class="home_container d-flex flex-column align-items-center justify-content-end">
				<div class="home_content text-center">
					<div class="home_title">{{ product.product_name }}</div>
					<div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
						<ul class="d-flex flex-row align-items-start justify-content-start text-center">
                            {% if product.category.category_type == 'NODE' %}
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'specific_categories' product.category %}">{{ product.category }}</a></li>
                                <li>{{ product.subcategory }}</li>

                            {% else %}
                                 <li><a href="{% url 'index' %}">Home</a></li>
                                 <li>{{ product.subcategory }}</li>
                            {% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Product -->

		<div class="product">
			<div class="container">
				<div class="row">
					
					<!-- Product Image -->
					<div class="col-lg-6">
						<div class="product_image_slider_container">
							<div id="slider" class="flexslider">
								<ul class="slides">
                                    
									<li>
										<img src="{{ product.product_image_main.url }}" />
									</li>
                                    {% if product.product_image_one %}
                                        <li>
										    <img src="{{ product.product_image_one.url }}" />
									    </li>
                                    {% endif %}

                                    {% if product.product_image_two %}
                                        <li>
										    <img src="{{ product.product_image_two.url }}" />
									    </li>
                                    {% endif %}

                                    {% if product.product_image_three %}
                                        <li>
										    <img src="{{ product.product_image_three.url }}" />
									    </li>
                                    {% endif %}

                                    {% if product.product_image_four %}
                                        <li>
										    <img src="{{ product.product_image_four.url }}" />
									    </li>
                                    {% endif %}

                                    {% if product.product_image_five %}
                                        <li>
										    <img src="{{ product.product_image_five.url }}" />
									    </li>
                                    {% endif %}
									
								
								</ul>
							</div>
							<div class="carousel_container">
								<div id="carousel" class="flexslider">
									<ul class="slides">
                                        <li>
                                            <div><img src="{{ product.product_image_main.url }}" /></div>
                                        </li>
                                        {% if product.product_image_one %}
                                            <li>
                                                <div><img src="{{ product.product_image_one.url }}" /></div>
                                            </li>
                                        {% endif %}

                                        {% if product.product_image_two %}
                                            <li>
                                                <div><img src="{{ product.product_image_two.url }}" /></div>
                                            </li>
                                        {% endif %}

                                        {% if product.product_image_three %}
                                            <li>
                                                <div><img src="{{ product.product_image_three.url }}" /></div>
                                            </li>
                                        {% endif %}

                                        {% if product.product_image_four %}
                                            <li>
                                                <div><img src="{{ product.product_image_four.url }}" /></div>
                                            </li>
                                        {% endif %}

                                        {% if product.product_image_five %}
                                            <li>
                                                <div><img src="{{ product.product_image_five.url }}" /></div>
                                            </li>
                                    {% endif %}
										
									</ul>
								</div>
								<div class="fs_prev fs_nav disabled"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
								<div class="fs_next fs_nav"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
							</div>
						</div>
					</div>

					<!-- Product Info -->
					<div class="col-lg-6 product_col">
						<div class="product_info">
							<div class="product_name">{{ product.product_name }}</div>
							<div class="product_category">In <a href="category.html">{{ product.category }}</a></div>
							<div class="product_rating_container d-flex flex-row align-items-center justify-content-start">
								<div class="rating_r rating_r_4 product_rating"><h3><div class="rating"></div></h3></div>
								<div class="product_reviews">4.7 out of (3514)</div>
								<div class="product_reviews_link"><a href="#">Reviews</a></div>
							</div>
							<div class="product_price">{{ shop_details.currency_iso }} {{ product.split_price.0}}<span>.{{ product.split_price.1}}</span></div>

                            {% if product.has_size %}
                                <div class="product_size">
                                    <div class="product_size_title">Select Size</div>
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li>
                                            <input type="radio" id="radio_1" {% if not product.size_xs %} disabled {% endif %} name="product_radio" class="regular_radio radio_1">
                                            <label for="radio_1">XS</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="radio_2" name="product_radio" {% if not product.size_s %} disabled {% endif %} class="regular_radio radio_2" checked>
                                            <label for="radio_2">S</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="radio_3" name="product_radio" {% if not product.size_m %} disabled {% endif %} class="regular_radio radio_3">
                                            <label for="radio_3">M</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="radio_4" name="product_radio" {% if not product.size_l %} disabled {% endif %} class="regular_radio radio_4">
                                            <label for="radio_4">L</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="radio_5" name="product_radio" {% if not product.size_xl %} disabled {% endif %}class="regular_radio radio_5">
                                            <label for="radio_5">XL</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="radio_6" name="product_radio" {% if not product.size_xxl %} disabled {% endif %} class="regular_radio radio_6">
                                            <label for="radio_6">XXL</label>
                                        </li>
                                    </ul>
							</div>
                            {% endif %}
							
							<div class="product_text">
								<p>{{ product.product_description }}</p>
							</div>
							<div class="product_buttons">
								<div class="text-right d-flex flex-row align-items-start justify-content-start">
									<div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
										<div><div><img src="{% static 'images/heart_2.svg' %}" class="svg" alt=""><div>+</div></div></div>
									</div>
									<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
										<div><div><img src="{% static 'images/cart.svg' %}" class="svg" alt=""><div>+</div></div></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Boxes -->

		<div class="boxes">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="box d-flex flex-row align-items-center justify-content-start">
							<div class="mt-auto"><div class="box_image"><img src="{% static 'images/boxes_1.png' %}" alt=""></div></div>
							<div class="box_content">
								<div class="box_title">Size Guide</div>
								<div class="box_text">This product comes with optional sizes</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 box_col">
						<div class="box d-flex flex-row align-items-center justify-content-start">
							<div class="mt-auto"><div class="box_image"><img src="{% static 'images/boxes_2.png' %}" alt=""></div></div>
							<div class="box_content">
								<div class="box_title">Shipping</div>
								<div class="box_text">
                                    {% if product.free_shipping %}
                                        Free Shipping
                                    {% else %}
                                        Standard Delivery fee <b>{{ shop_details.currency_iso }}{{ shop_details.default_shipping_fee }}</b>
                                    {% endif %}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% block extrascripts %}
			<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
			<script src="{% static 'js/rocket-loader.min.js' %}" type="text/javascript"></script>
			<script src="{% static 'styles/bootstrap-4.1.2/popper.js' %}" type="text/javascript"></script>
			<script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %}" type="text/javascript"></script>
			<script src="{% static 'plugins/flexslider/jquery.flexslider-min.js' %}" type="text/javascript"></script>
			<script src="{% static 'js/product.js' %}" type="text/javascript"></script>
		{% endblock extrascripts %}

{% endblock content %}





